@using blazorVaccine.Models
<h2>medicalHistory</h2>
<RadioText @bind-AttributeValue="@PatientMedicalHistory.FeelingUnwell" 
    Question="Are you feeling unwell today?"
    ID="feelingUnWell"
/>

<RadioText @bind-AttributeValue="@PatientMedicalHistory.Immunisations" 
    Question="Have you had any immunisations in the past 4 weeks?"
    ID="immunisations"
/>

<RadioText @bind-AttributeValue="@PatientMedicalHistory.MedicalHistory" 
    Question="Do you have any recent or past medical history of note?"
    ID="medicalHistory"
    
/>

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.CurrentMedicines" 
    Question="Do you take any current or repeat medicines or are you taking halofantrine?"
    ID="currentMedicines"
/> 

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.Allergies" 
    Question="Do you have any allergies to any medicines, latex or eggs?"
    ID="allergies"
/> 

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.SeriousReaction" 
    Question="Have you had a serious reaction to a vaccine, antimalarial or doxycycline before?"
    ID="seriousReaction"
/> 

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.Hypersensitive" 
    Question="Do you know if you are hypersensitive to mefloquine or related compounds (e.g. quinine, quinidine) or excipients?"
    ID="hypersensitive"
/> 

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.Epilepsy" 
    Question="Do you or any of your family suffer from epilepsy?"
    ID="epilepsy"
/> 


<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.BlackWaterFever" 
    Question="Do you have a past history of black water fever?"
    ID="blackWaterFever"
/> 

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.LiverFunction" 
    Question="Do you have severe impairment of liver function?"
    ID="liverFunction"
/> 

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.BloodDisorders" 
    Question="Do you suffer from any blood disorders such as thalassemia or sickle cell anaemia?"
    ID="bloodDisorders"
/> 

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.MedicalTreatment" 
    Question="Have you recently undergone radiotherapy, chemotherapy, steroids treatment?"
    ID="medicalTreatment"
/> 

<RadioText 
    @bind-AttributeValue="@PatientMedicalHistory.HistoryAnxiety" 
    Question="Do you have any history of the following: anxiety, depression, heart, lung, spleen, liver, kidney, immunity, blood conditions, disorders, diabetes, immunity, HIV-AIDs?"
    ID="historyAnxiety"
/> 

<div id="notes">
    <label for="notes">
        <p>
            Please enter more infomation in the text box below such as when you have had previous vaccines and date of depatrue
        </p>
    </label>
    <div>
        <textarea id="notes" @bind="PatientMedicalHistory.Notes"></textarea>
    </div>
</div>

@code {
    [Parameter]
    public PatientMedicalHistory PatientMedicalHistory {get;set;}


    //this changes the state of the radio box, i couldnt figure out how to 
    public void changeState()
    {

    }


}